# Google OAuth setup:
# https://console.cloud.google.com/apis/credentials
AUTH_SECRET="changeme-run-openssl-rand-base64-32"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
NEXTAUTH_URL="http://localhost:3000"
ALLOWED_EMAIL="instructor@example.edu"
